*
#header {
    left: 15px;
    width: 400px;
    position: absolute;
}

#longDiv {
    margin: 100px 0 0 0;
    width: 1000px;
    height: 2000px;
    border: 0px;
}

#image-map {
    position: static;
    z-index: 5;
}

#image-map2 {
    position: static;
}

.pin {
    display: none;
}

.tooltip-up, .tooltip-down {
    position: absolute;
    background: url("https://i.imgur.com/O8TJqgY.png");
    background-position: 0 0px;
    width: 32px;
    height: 32px;
    margin-left: -15px;
    margin-top: -15px;
}

.tooltip-down {
    background-position: 0 0px;
}

.tooltip {
    display: none;
    width: auto;
    cursor: help;
    text-shadow: 0 1px 0 #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-top: auto;
    margin-left: auto;
    padding: 10px;
    color: #222;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.7);
    background: #f9e3c3;
}

.tooltip-down .tooltip {
    top: 2.5%;
    left: 2.5%;
}

.tooltip h4 {
    align-content: center;
    color: #ffffff;
    text-shadow: #000000 0px 0px 0.2em;
    font: 1.5em 'Planer';
    margin: 0 0 10px;
}

.tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-h {
    text-align: center;
    color: #ffffff;
    text-shadow: #000000 0px 0px 0.2em;
    font: 2.5em 'Planer';
}

img.poke {
    width: 256px;
    height: 256px;
}

hr.rounded {
    height: 20px;
    width: inherit;
    border: 0;
    box-shadow: inset 0 9px 20px -3px rgba(84, 76, 63, 1);
    border-radius: 15px;
}